APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC
APP_URL=http://localhost.com

# setup redis for faster cache
CACHE_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379

# set true to enable basic auth
BASIC_AUTH_ENABLED=false
API_USERNAME=
API_PASSWORD=

# should not contain any spaces, or plus sign
ACCOUNTS=phone:phone,phone:password,phone:password

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

// mp3 files cdn root url. mp3 files will be appended to this url if set
// example: http://sample.cloudfront.net/
CDN_ROOT_URL=