APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC
APP_URL=http://localhost.com

DB_HOST_POSTGRES=postgres
DB_PORT_POSTGRES=5432
DB_DATABASE_POSTGRES=datmusic
DB_USERNAME_POSTGRES=datmusic
DB_PASSWORD_POSTGRES=datmusic

DB_CONNECTION_MINERVA=sqlitex
# default is storage/app/database/minerva.db
#DB_DATABASE_MINERVA=/full/path/to/database.sqlite

# setup redis for faster cache
CACHE_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379

# set true to enable basic auth
BASIC_AUTH_ENABLED=false
API_USERNAME=
API_PASSWORD=

# tokens separated by commas
AUTH_ACCESS_TOKENS="token,token"

# add domains here separated by commas
# set to '*' to allow any
CORS_ALLOWED_ORIGINS=datmusic.xyz,music.dev

DOWNLOADING_ID3_COVERS=true
DOWNLOADING_ID3_COVERS_EXTERNAL=false
DOWNLOADING_HLS_ENABLED=false

# proxy config
PROXY_ENABLE=false
PROXY_IP=
PROXY_PORT=
PROXY_USERNAME=
PROXY_PASSWORD=

# will deny requests if client doesn't have headers required for logging
DATMUSIC_CLIENT_HEADERS_REQUIRE=false

DATMUSIC_DOWNLOAD_POST_PROCESS_ENABLED=false

MINERVA_DATABASE_ENABLED=false
MINERVA_MEILISEARCH_ENABLED=false
MINERVA_MEILISEARCH_URL='http://localhost:7700/'
MINERVA_MEILISEARCH_INDEX='datmusic'
MINERVA_MEILISEARCH_KEY=master-key
MINERVA_FETCH_COVERS=false

SPOTIFY_CLIENT_ENABLED=false
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

DEEMIX_ENABLED=false
DEEMIX_API_URL=http://127.0.0.1:5000/
# must match with deemix
DEEMIX_DOWNLOADS_FOLDER=Music
# rewrites download folder name in links
DEEMIX_DOWNLOADS_FOLDER_REWRITE=flacs
DEEMIX_DOWNLOADS_BITRATE=flac